<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="mmir-plugin-tts-dfki-tohyve-xhr"
    version="0.1.0">

    <name>DFKI-NLP ToHyVe Web Speech Synthesis</name>

    <keywords>cordova,speech,tts,synthesis</keywords>

    <description>
      Cordova plugin for the MMIR framework that adds Text To Speech (TTS) synthesis via DFKI-NLP ToHyVe TTS web services
    </description>

    <author>DerGuteste, russa (DFKI)</author>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>

    <!-- MMIR_PLUGIN_MODE: "normal" | "compat" | "webpack" -->
    <preference name="MMIR_PLUGIN_MODE" default="normal" />
    <hook src="res/js/before_plugin_install_hook.js" type="before_plugin_install" />

    <!-- ASR plugin implementation for integration into MMIR framework  -->
    <asset
        src="www/ttsDFKIToHyVeXhr.js"
        target="mmirf/env/media/ttsDFKIToHyVeXhr.js" />

</plugin>
